coverage
elasticsearch>=2,<3
pytz==2020.1
uWSGI==2.0.18
PyMySQL==1.0.2
python-slugify==6.1.1

mysqlclient==1.4.6
django-redis==4.11.0
redis==3.5.0
Pillow==7.1.2

django==3.2.5
django-haystack==3.1.1
django-pure-pagination==0.3.0
future==0.18.2
haystack==0.42
importlib-metadata==4.11.3
jieba==0.42.1
krb5==1.19.2
libpq==12.9
markdown==3.3.6
openssl==1.1.1n
pymysql==1.0.2
slugify==0.0.1
whoosh==2.7.4
